@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace htmlNs url("http://www.w3.org/1999/xhtml");
@keyframes findbar-scale-in {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes findbar-scale-out {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
findbar {
  contain: content;
  border: 1px solid var(--chrome-content-separator-color);
  /* Position */
  position: absolute;
  left: 18px;
  top: 18px;
  transform-origin: top center;
  border-radius: var(--toolbarbutton-border-radius);
  /* Animation */
  animation: 0.1s findbar-scale-in;
  /* Text box */
  /* Checkboxes */
  /* Description */
  /* Order */
}
findbar[hidden=true] {
  animation: 0.1s;
}
findbar checkbox, findbar [anonid=findbar-textbox-wrapper] toolbarbutton, findbar [anonid=findbar-textbox-wrapper] htmlNs|input {
  border: 1px solid ThreeDShadow;
}
findbar {
  gap: 8px;
  padding: 6px;
  padding-inline-start: 8px;
  padding-inline-end: 8px;
}
findbar > * {
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
}
findbar .findbar-container {
  gap: 8px;
}
findbar .findbar-container > * {
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
}
findbar [anonid=findbar-textbox-wrapper] {
  /* Previous & next buttons. Hidden if the findbar is opened in quick find mode. */
}
findbar [anonid=findbar-textbox-wrapper] htmlNs|input:not(.minimal) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
findbar [anonid=findbar-textbox-wrapper] toolbarbutton {
  color: var(--button-color);
  background-color: var(--button-background-color, var(--button-bgcolor));
  border-width: 1px !important;
  margin-inline: 0 !important;
}
findbar [anonid=findbar-textbox-wrapper] toolbarbutton:last-of-type {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
findbar [anonid=findbar-textbox-wrapper] toolbarbutton:not(:last-of-type) {
  border-radius: 0 !important;
  border-right-width: 0 !important;
}
findbar checkbox {
  padding: 3px 6px;
  border-radius: var(--toolbarbutton-border-radius);
  color: var(--button-color);
  background-color: var(--button-background-color, var(--button-bgcolor));
}
findbar checkbox:hover {
  background-color: var(--button-background-color-hover, var(--button-hover-bgcolor));
}
findbar checkbox:active {
  background-color: var(--button-background-color-active, var(--button-active-bgcolor));
}
findbar checkbox[checked=true] {
  color: var(--button-text-color-primary, var(--button-primary-color));
  background-color: var(--color-accent-primary, var(--button-primary-bgcolor));
}
findbar checkbox[checked=true]:hover {
  background-color: var(--color-accent-primary-hover, var(--button-primary-hover-bgcolor));
}
findbar checkbox[checked=true]:active {
  background-color: var(--color-accent-primary-active, var(--button-primary-active-bgcolor));
}
findbar checkbox:focus-visible {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-inset);
}
findbar checkbox .checkbox-check {
  display: none;
}
findbar checkbox:not(checkbox[anonid=find-entire-word]) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
findbar checkbox:not(checkbox[anonid=highlight]) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
  margin-inline-start: -8px !important;
}
findbar description.findbar-label:empty {
  display: none;
}
findbar [anonid=findbar-textbox-wrapper] {
  order: 0;
}
findbar checkbox[anonid=highlight] {
  order: 1;
}
findbar checkbox[anonid=find-case-sensitive] {
  order: 2;
}
findbar checkbox[anonid=find-match-diacritics] {
  order: 3;
}
findbar checkbox[anonid=find-entire-word] {
  order: 4;
}
findbar label.findbar-label {
  order: 5;
}
findbar description.findbar-label {
  order: 6;
}
