/* do not unset all, causes rendering artifacts somehow */
button {
  box-shadow: unset;
  outline: unset;
  min-width: unset;
  min-height: unset;
  margin: unset;
  border: unset;
  border-radius: unset;
  background-image: unset;
  transition: unset;
}

.bar {
  background-color: #1d1f21;
  color: white;
  font-family: system-ui, sans-serif;
}

.workspaces button.unoccupied {
  color: #b3b3b3;
}

.bar button {
  padding: 0px 4px;
}

.workspaces button.occupied {
  color: #fff;
}

.bar button:hover,
.workspaces button.active:hover,
.workspaces button.active.occupied:hover {
  background-color: #444444;
}

.workspaces button {
  padding: 0px 4px 2px;
}

.workspaces button.focused,
.workspaces button.focused.occupied {
  background-color: #333333;
}

.workspaces button.active,
.workspaces button.active.occupied {
  padding-bottom: 0px;
  border-bottom: 2px solid #327bd1;
}

tooltip {
  background-color: #1d1f21;
  border-radius: 6px;
  border: 1px solid #444444;
  box-shadow: unset;
}

tooltip * {
  margin: unset;
  padding: unset;
  /* box-shadow: unset; */
  /* overflow: visible; */
}

tooltip > box {
  margin: unset;
  padding: unset;
  outline: 2px solid rgba(255, 0, 0, 0.9);
}

box.systray {
  padding: 0px 8px;
}

.systray menu {
  color: #fff;
  margin: unset;
  border: unset;
  padding: unset;

  menuitem {
    background-color: #1d1f21;
    padding: 1px 0px 1px 4px;
    &:first-child {
      border-radius: 6px 6px 0px 0px;
    }
    &:last-child {
      border-radius: 0px 0px 6px 6px;
    }
  }
  menuitem arrow {
    min-width: 16px;
    min-height: 16px;

    &:dir(ltr) {
      -gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
      margin-left: 10px;
      margin-right: 0;
    }
  }
  separator {
    background-color: #2a2a2a;
    padding-top: 1px;
    padding-bottom: 0px;

    &:last-child {
      padding: unset;
    }
  }

  menuitem:hover {
    background-color: #292929;
  }
}

button.warning {
  color: #E0A458
}
